@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    src: url(fonts/LIQUIDO-Fluid.otf);
    font-family: Fluid;
}

@font-face {
    src: url(fonts/MAROLA.TTF);
    font-family: Marola;
}

@font-face {
    src: url(fonts/Stretch.ttf);
    font-family: Stretch;
}

.Banner {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: tan;
    border-bottom: 10px solid rgb(34, 34, 34);
    box-shadow: 0px 8px 0px rgb(88, 88, 88);
}

.Title {
    font-family: Fluid;
    font-size: 150px;
    color: whitesmoke;
    text-shadow: 10px 5px 2px rgb(59, 59, 59);
    text-decoration: underline;
    text-decoration-thickness: 7px;
    text-underline-offset: 10px;
}

.Redirector-To-EP,
.Redirector-To-IP {
    position: absolute;
    top: 50%;
    font-family: Stretch;
    font-size: 23px;
    text-shadow: 5px 2.5px 1.5px rgb(59, 59, 59);
}

.Redirector-To-EP {
    left: 400px;
}

.Redirector-To-IP {
    right: 400px;
}

.Contact-Me,
.Github-Link {
    color: whitesmoke;
    font-family: Stretch;
    font-size: 23px;
    text-shadow: 5px 2.5px 1.5px rgb(59, 59, 59);
    text-decoration: none;
}

.About-Me{
    position: absolute;
    margin: auto;
    width: 21.5%;
    height: auto;
    left: 100px;
    top: 300px;
}

.About-Me-Title{
    font-family: stretch;
    font-size: 45px;
    text-shadow: 5px 2px 2px rgb(153, 153, 153);
}

.First-Paragraph{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(24, 24, 24);
}

body {
    background-color: rgb(212, 212, 212);
    margin: 0;
}
